venv/
fib_markdown/
.idea/
/chromadb_store
/chromadb_store_en
/fib_markdown
/markdown_files
chromadb_store_en/chroma.sqlite3
chromadb_store_en/e442b4d0-3bc4-4395-bb3a-b9ae782bc6f1/data_level0.bin
chromadb_store_en/e442b4d0-3bc4-4395-bb3a-b9ae782bc6f1/header.bin
chromadb_store_en/e442b4d0-3bc4-4395-bb3a-b9ae782bc6f1/index_metadata.pickle
chromadb_store_en/e442b4d0-3bc4-4395-bb3a-b9ae782bc6f1/length.bin
chromadb_store_en/e442b4d0-3bc4-4395-bb3a-b9ae782bc6f1/link_lists.bin
chromadb_store/
.env
web_markdowns/
__pycache__/
.vscode/
markdown/